In [1]:
import pandas as pd

In [2]:
d = {'name':['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k'], 'activity':[ 'tour/city/mount/', 'tour/', 'city/', 'mount/','tour/city/','mount/city/', 'mount/tour/', 'tour/mount/', '','forest/', 'climb/tour/'] }
df = pd.DataFrame(data=d)
df

   name          activity
0     a  tour/city/mount/
1     b             tour/
2     c             city/
3     d            mount/
4     e        tour/city/
5     f       mount/city/
6     g       mount/tour/
7     h       tour/mount/
8     i
9     j           forest/
10    k       climb/tour/

In [3]:
separator = '/'
nohcols = []
for i in range(df.shape[0]):
    coldata= df.activity[i]
    coldata = coldata[:-1]
    act = coldata.split('/')
    for j in range(len(act)):
        nohcols.append(act[j])
newcolumns = set(nohcols)
newcolumns

{'', 'city', 'climb', 'forest', 'mount', 'tour'}

In [4]:
for i in range(df.shape[0]):
    for col in newcolumns:
      df[col] = 0 
df

   name          activity     forest  tour  city  climb  mount
0     a  tour/city/mount/  0       0     0     0      0      0
1     b             tour/  0       0     0     0      0      0
2     c             city/  0       0     0     0      0      0
3     d            mount/  0       0     0     0      0      0
4     e        tour/city/  0       0     0     0      0      0
5     f       mount/city/  0       0     0     0      0      0
6     g       mount/tour/  0       0     0     0      0      0
7     h       tour/mount/  0       0     0     0      0      0
8     i                    0       0     0     0      0      0
9     j           forest/  0       0     0     0      0      0
10    k       climb/tour/  0       0     0     0      0      0

In [5]:
for i in range(df.shape[0]):
    coldata= df.activity[i]
    coldata = coldata[:-1]
    for col in newcolumns:
        if col in coldata:
            df[col][ i] = 1
del df['']
df

C:\Users\anast\AppData\Local\Temp\ipykernel_15836\508029676.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][ i] = 1

   name          activity  forest  tour  city  climb  mount
0     a  tour/city/mount/       0     1     1      0      1
1     b             tour/       0     1     0      0      0
2     c             city/       0     0     1      0      0
3     d            mount/       0     0     0      0      1
4     e        tour/city/       0     1     1      0      0
5     f       mount/city/       0     0     1      0      1
6     g       mount/tour/       0     1     0      0      1
7     h       tour/mount/       0     1     0      0      1
8     i                         0     0     0      0      0
9     j           forest/       1     0     0      0      0
10    k       climb/tour/       0     1     0      1      0